{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'jitterbunkapp/style.css' %}" />

<h1>Hi {{ user.username }}!</h1><a class="button" id="bunk-btn" href="bunk">Bunk Someone!</a>
{% if bunk_list %}
	<table>
	{% for bunk in bunk_list %}
		{% if user == bunk.from_user or user == bunk.to_user %}
			<tr>
				<td>
					{% if user != bunk.from_user %}
						<div>
							<img src="{{ bunk.from_user.photo_url }}" height="100"/>
						</div>
						<div>				
							<a href="../{{ bunk.from_user.pk }}">{{ bunk.from_user.username }}</a>
						</div>
					{% else %}
						<span>YOU</span>
					{% endif %}
				</td>
				<td>BUNKED</td>
				<td>
					{% if user != bunk.to_user %}
						<div>
							<img src="{{ bunk.to_user.photo_url }}" height="100"/>
						</div>
						<div>				
							<a href="../{{ bunk.to_user.pk }}">{{ bunk.to_user.username }}</a>
						</div>
					{% else %}
						<span>YOU</span>
					{% endif %}
				</td>
				<td>at {{ bunk.time.time }} on {{ bunk.time.date }}</td>
			</tr>
		{% endif %}
	{% endfor %}
	</table>
{% else %}
	<p>No bunks!</p>
{% endif %}